.title {
  font-family: "Montez", cursive;
  font-weight: 400;
  font-style: normal;
  color: blue;
  margin: 0;
  padding: 0;
}

.signup,
.signin {
  background-color: blue;
  color: white;
  margin-left: 10px;
  padding: 5px;
  width: 100px;
  height: 35px;
  text-align: center;
}

.auth-buttons {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.subheading {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}

.topleft {
  display: flex;
  flex-direction: column;
}

.allp,
.cp {
  background-color: yellow;
  width: 100px;
  height: 40px;
  margin-left: 10px;
  text-align: center;
}

.postb {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translate(-50%, -50%);
}

.modal-content {
  position: relative;
  padding: 40px;
  border-radius: 10px;
  width: 30%;
  max-width: 500px;
  margin: auto;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modalform {
  display: flex;
  flex-direction: column;
}

.modalform label {
  margin-top: 5px;
}

.modalform input[type="text"],
.modalform input[type="password"],
.modalform input[type="email"] .modalform textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(200, 199, 199);
  color: black;
  resize: vertical;
}

.modalform textarea {
  height: 150px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
  background-color: rgb(209, 209, 209);
  border: none;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.modalform button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.close,
.close2,
.close3 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  line-height: 1.5em;
  cursor: pointer;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
}

.modal-content h2 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: rgb(54, 53, 53);
}

.modal-content hr {
  background-color: rgb(209, 209, 209);
  height: 1px;
  border: none;
}

#post {
  height: 150px;
}

#cpModal .modal-content {
  width: 80%;
  max-width: 800px;
}

.modal-content p {
  text-align: center;
}
